{% load static%}
<header id="header">
        <div class="logo-div">
            <h1 style="margin-left: 1rem;">MIFAfest</h1>
        </div>
        <nav id="menu">
            <div class="menu-item">
                <div class="menu-text">
                    <a href="{% url 'home'%}">Home</a>
                </div>
                <div class="sub-menu">
                    <div class="icon-box">
                        <div class="icon"></div>
                        <div class="text">
                            <div class="title">MIFAfest Story <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">Read More About Us.</div>
                        </div>
                    </div>
                    <div class="icon-box">
                       <!--  <div class="icon"><i class="fal fa-lightbulb-on"></i></div> -->
                        <div class="text">
                            <div class="title">Idea Insparation <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">MIFAfest gives Insparation.</div>
                        </div>
                    </div>
                    <div class="icon-box">
                        <div class="icon"></div>
                        <div class="text">
                            <div class="title">International </div>
                            <div class="sub-text">MIFAfest Is A Platfrom That Make Persian Girl On WORLD. </div>
                        </div>
                    </div>
                    <div class="sub-menu-holder"></div>
                </div>
            </div>
            <div class="menu-item highlight">
                <div class="menu-text">
                    <a href="/artist">Artist</a>
                </div>
                <div class="sub-menu double">
                    <div class="icon-box gb a">
                        <div class="icon"><i class="far fa-question-circle"></i></div>
                        <div class="text">
                            <div class="title">Consult <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">From Professionals</div>
                        </div>
                    </div>
                    <div class="icon-box gb b">
                        <div class="icon"><i class="far fa-users-class"></i></div>
                        <div class="text">
                            <div class="title">Teach <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">In Classroom</div>
                        </div>
                    </div>
                    <div class="icon-box gb c">
                        <div class="icon"><i class="far fa-school"></i></div>
                        <div class="text">
                            <div class="title">Learn <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">By Video</div>
                        </div>
                    </div>
                    <div class="icon-box gb d">
                        <div class="icon"><i class="far fa-chess-rook"></i></div>
                        <div class="text">
                            <div class="title">Keep <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">The Castle</div>
                        </div>
                    </div>
                    <div class="icon-box gb e">
                        <div class="icon"><i class="far fa-video-plus"></i></div>
                        <div class="text">
                            <div class="title">Become <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">A Creator</div>
                        </div>
                    </div>
                    <div class="icon-box gb f">
                        <div class="icon"><i class="far fa-cat"></i></div>
                        <div class="text">
                            <div class="title">Understand <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">Our Journey</div>
                        </div>
                    </div>
                    <div class="bottom-container">
                        Ready to dive in? <a href="#">Get Started</a>
                    </div>
                    <div class="sub-menu-holder"></div>
                </div>
            </div>
            <div class="menu-item highlight">
                <div class="menu-text">
                    <a href="{% url 'collocation' %}">Collocation</a>
                </div>
                <div class="sub-menu triple">
                    <div class="top-container gb c icon-box">
                        <div class="icon big"><i class="far fa-book"></i></div>
                        <div class="text">
                            <div class="title">Gallary</div>
                            <div class="sub-text">Find out the best of persion girl!</div>
                        </div>
                    </div>
                    <div class="box">
                        <h3>On Your Intersest</h3>
                        <a href="#">Painting</a>
                        <a href="#">Hand-Work</a>
                        <a href="#">Photography</a>
                        <a href="#">Illustration</a>
                    </div>
                    <div class="box">
                        <h3>On Your Style</h3>
                        <a href="#">Classic</a>
                        <a href="#">Post-Modern</a>
                        <a href="#">Minimalism</a>
                        <a href="#">Conceptual Art</a>
                    </div>
                    <div class="icon-box flat">
                        
                        <div class="text">
                            <div class="title">Support <i class="far fa-arrow-right"></i></div>
                        </div>
                    </div>
                    <div class="icon-box flat">
                        <!-- <div class="icon"><i class="fal fa-comments"></i></div> !-->
                        <div class="text">
                            <div class="title">Register A Design <i class="far fa-arrow-right"></i></div>
                        </div>
                    </div>
                    <div class="icon-box flat">
                        <div class="text">
                            <div class="title">About Us <i class="far fa-arrow-right"></i></div>
                        </div>
                    </div>
                    <div class="icon-box flat">
                        <div class="text">
                            <div class="title">Contact US <i class="far fa-arrow-right"> </i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-text">
                    <a href="{% url 'auth' %}">Join</a>
                </div>
                <div class="sub-menu">
                    <div class="icon-box">
                        
                        <div class="text">
                            <div class="title">Log-In <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">Log-In To Our Platform.</div>
                        </div>
                    </div>
                    <div class="icon-box">
                        
                        <div class="text">
                            <div class="title">Register<i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">Join our passionate community.</div>
                        </div>
                    </div>
                    <div class="icon-box">
                        <div class="text">
                            <div class="title">Submit <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">Submit Your Art To World.</div>
                        </div>
                    </div>
                    <div class="sub-menu-holder"></div>
                </div>
            </div>
            <div id="sub-menu-container">
                <div id="sub-menu-holder">
                    <div id="sub-menu-bottom">

                    </div>
                </div>
            </div>
        </nav>

        <div class="header-right">
        
        <button class="sighn-up-btn">Join Us!</button>
        <img src="{% static './images/account_circle.svg'%}" alt="" style="margin-left:20px"/>

        </div>
        


        <!-- Toggle menu -->

        <label class="hamburger">
            <input type="checkbox" id="toggle-menu">
            <svg viewBox="0 0 32 32">
              <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
              <path class="line" d="M7 16 27 16"></path>
            </svg>
        </label>


        <div id="tmenu" class="acarmenu">
                <span> </span>

            

            <ul>
                <li>
                    <p><a href="#t1">GROUP</a></p>
                        <ul id="t1">
                            <li><a href="#">Category</a></li>
                            <li><a href="#">Category</a></li>
                            <li><a href="#">Category</a></li>
                            <li><a href="#">Category</a></li>
                            <li><a href="#">Category</a></li>
                        </ul>
                    <a href="#foo"></a>
                </li>
                <li>
                    <p><a href="#t2">GROUP</a></p>
                    <ul id="t2">
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Category</a></li>
                    </ul>
                    <a href="#foo"></a>
                </li>
                <li>
                    <p><a href="#t4">GROUP</a></p>
                    <ul id="t4">
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Category</a></li>
                    </ul>
                    <a href="#foo"></a>
                </li>
                <li>
                    <p><a href="#t5">GROUP</a></p>
                    <ul id="t5">
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Category</a></li>
                    </ul>
                    <a href="#foo"></a>
                </li>
                <li>
                    <p><a href="#t6">GROUP</a></p>
                    <ul id="t6">
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Category</a></li>
                    </ul>
                    <a href="#foo"></a>
                </li>
            </ul>





            <button class="sighn-up-btn"> Join Us! </button>






          </div>

        <!-- END Toggle menu -->

       
    </header>

    





<script>
    const toggleMenu = document.getElementById('toggle-menu');
const menu = document.getElementById('tmenu');

toggleMenu.addEventListener('click', () => {
  if (toggleMenu.checked) {
    menu.classList.add('show');
  } else {
    menu.classList.remove('show');
  }
});


//sub menu sctipt



</script>
