{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .mifa-gift__home{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 90vh;
        }

        .mifa-gift__home hr{
            width: 10%;
        }
        .mifa-gift__home h1{
            font-size: xxx-large;
            color: #444444;
        }
        .mifa-gift__home p{
            color: #a1a1a1;
        }
        .img-now-contaner__home{
            display: flex;
            flex-direction: column;
            width: 50%;
            align-items: center;
        }
        .img-now-contaner__home img{
            width: 50%;
        }
    </style>

<section class="mifa-gift__home">
<div>
<p>discover</p>
<hr />

<h1>ArtSpeak</h1>
<p>Click on image to know what's goning on!</p>
</div>


<div class="img-now-contaner__home"> 
    
    <img src="{% static './images/maxresdefault.jpg' %}" alt="" />
    <h1>ArtSpeak Subject</h1>
    <a href="{% url 'artspeak' %}"><span>click here to see artspeak.</span></a>

</div>
</section>
{% endblock content %}  
