{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        #mifaacutionHome{
            display: none;
        }

        .cont-auc__btnhome{
            display: flex;
            width: 100%;
            
        }

        .auca-cont___btnhost{
            display: flex;
        }
        .auca-cont___btnhost img{
            width: 50%;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
        .another-liasut__btn{
            width: 20%;
            display: flex;
            align-items: center;
        }


        .xtxt-cont___aucbtnhome{
            
            border: 1px solid #5e5e5e49;
            padding: 30px;
            width: 100%;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-left: none;
            margin-left: 10px;
        }

        .xtxt-cont___aucbtnhome h1{
            color: #5e5e5e;
        }
        .xtxt-cont___aucbtnhome h3{
            color: #a7a7a7;
        }
        .xtxt-cont___aucbtnhome span{
            color: #5e5e5e;
        }

        .another-showbtn__homeauc{
            padding: 5px 10px 5px 10px; 
            margin-top: 20px;
            font-size: large;
            border-radius: 10px;
        }
        .another-showbtn__homeauc:hover{
            color: #fff;
            background-color: black;
        }

        @media only screen and (max-width: 975px) {
            .cont-auc__btnhome{
                display: block;
            } 
            .auca-cont___btnhost{
                padding: 10px;
            }
            }
    </style>

<div id="mifaacutionHome">
    <section class="mifaaucation__home">
        <h1>MIFAauction</h1>
        <p>find the collocation lorem lorem.</p>
    </section>
    
    
    <section class="list-container__home cont-auc__btnhome">
    <div class="llist-con-div__home another-liasut__btn">
            <div>
            <h1>Bid on lorem</h1>
            <h4><div class="countdown"></div></h3>
            <p>July 10, 2024 - July 28</p>
            </div>
    </div>
    
    <div class="auca-cont___btnhost">
        <img src="{% static './images/mifahost01.webp' %}" alt="" />
        <div class="xtxt-cont___aucbtnhome"> 
            <h1>Lorem lorem</h1>
            <h3>lorem loe</h3> 
            <span>lorem lore m lprem kid</span>
            
                <button class="show-more-btn__auca another-showbtn__homeauc">
                    Go on Bid!
                </button>
                
        </div>
    </div>
    
    
    </section>


    </div>
{% endblock content %}  

