{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        #btnHomeHost{
            display: none;
        }

        .btn-mifa-host__home{
            display: flex;
            
            align-items: center;
            font-size: large;
            color: #444444;
            text-align: center;
        }
        .txt-conr__hosthome{
            display: flex;
            justify-content: space-around;
            width: 100%;
            align-items: center;
            
        }

        .subjects-cont___hosthome{
            padding: 30px;
            display: flex;
            width: 100%;
            margin-top: -35px;
        }
        .newest-host___btnhome{
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-right: 5px;
        }
        .newest-host___btnhome img{
            width: 100%;
            border-top-left-radius: 20px;
            cursor: pointer;
        }
        .newest-host___btnhome p{
            font-size: small;
            color: #9c9c9c;
        }

        .newest-host___btnhome span{
            color: #444;
        }
     

        .small-contaier___hosthome{
            width: 40%;
            display: flex;
            
        }
        .small-host___btnhome{
            display: flex;
            flex-direction: column;
            margin: 4px;
        }
        .small-host___btnhome img{
            width: 100%;
            cursor: pointer;
        }
        .small-host___btnhome p{
            font-size: small;
            color: #9c9c9c;
        }
        .small-host___btnhome span{
            color: #444;
        }

.subjects-cont___hosthome hr{
   
}






        @media only screen and (max-width: 975px) {
    .txt-conr__hosthome span{
       display: none;
    }

    .subjects-cont___hosthome{
        flex-direction: column;
        width: 100%;
    }
    .newest-host___btnhome{
        width: 90%;
    }
    .small-contaier___hosthome{
        width: 95%;
    }
}
    </style>
<div id="btnHomeHost">

<section class="btn-mifa-host__home">
<div class="txt-conr__hosthome">
    <span>MIFAhost</span>
<h1>Building Bridges through Art: Be a Host for MIFA's Creative Artworks.</h1>

</div>
</section>

<section class="subjects-cont___hosthome">
    <div class="newest-host___btnhome">
        <img src="{% static './images/detailHost.jpg' %}" alt="" />
        <p>Residnece - Tehran</p>
        <span>MAhla Mahsa <span>: 23 July - 27th</span></span>
    </div>

    <br />

    <div class="small-contaier___hosthome">
        <div class="small-host___btnhome">
            <img src="{% static './images/detailHost.jpg' %}" alt="" />
            <p>Residnece - Tehran</p>
            <span>MAhla Mahsa <span>: 23 July - 27th</span></span>
        </div>

        <div class="small-host___btnhome">
            <img src="{% static './images/detailHost.jpg' %}" alt="" />
            <p>Residnece - Tehran</p>
            <span>MAhla Mahsa <span>: 23 July - 27th</span></span>
        </div>

        <div class="small-host___btnhome">
            <img src="{% static './images/detailHost.jpg' %}" alt="" />
            <p>Residnece - Tehran</p>
            <span>MAhla Mahsa <span>: 23 July - 27th</span></span>
        </div>

     
    </div>
</section>

</div>

{% endblock content %}  
