{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
      



         .show-more-btn__auca {
  
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 1px #000 solid;
  border-radius: 20px;
  color: #000;
  padding: 0.5em 0.6em;
  background: #fff;
  display: flex;
  
  align-items: center;
  gap: 0.1em;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
}

.style-select___btncolo select {
  margin-bottom: 1em;
  margin-left: 1em;
  padding: .25em;
  border: 0;
  border-bottom: 2px solid currentcolor; 
  font-weight: bold;
  letter-spacing: .15em;
  border-radius: 0;
  font-family: inherit;
  font-size: large;
  background-color: rgba(240, 248, 255, 0);
  &:focus, &:active {
    outline: 0;
   
  }
}


.sort-div__homebtn{
    display: flex;
    margin-left: 1em;
    
}
.sort-div__homebtn div span{
    font-size: 2em;
    cursor: pointer;
    margin: 0 10px 0 10px;
}

.hover-sort__btnhome{
    position: absolute;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #c9c9c960;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    transform: translateX(-15%);
    color: #0000008c;
    display: none;
    margin-top: -1px;
}
.hover-sort__btnhome p{
    color: #0000008c;
    cursor: pointer;
}
.div-favorite__btnhomr:hover  .facotite-op__btnhome{
    display: block;
}
.div-money__btnhomr:hover  .money-op__btnhome{
    display: block;
}
.div-time__btnhomr:hover  .time-op__btnhome{
    display: block;
}



@media only screen and (max-width: 975px) {
    .txt-cont-div___home{
       font-size: 10px;
    }
}

    </style>

<div id="mifaColonHome">

<section class="mifaaucation__home">
    <h1>MIFAfest</h1>
    <p>find the best collocation lorem lorem.</p>

    <div class="style-select___btncolo">
        <select>
          <option value="" selected="selected" disabled="disabled">Pick One...</option>
          <option value="1">Painting</option>
          <option value="2">Sculpture</option>
          <option value="3">Photography</option>
          <option value="4">Digital Art</option>
          <option value="5">Drawing</option>
          <option value="5">Calligraphy</option>
          <option value="5">Mixed Media</option>
          <option value="5">Printmaking</option>
          <option value="5">Textile Art</option>
          <option value="5">Installation Art</option>
          <option value="5">Jewelry and luxury Art</option>
          <option value="5">Performance Art</option>
          <option value="5">Literary Art</option>
        </select>
        
        </div>
    <div class="sort-div__homebtn">
        
        <div class="div-favorite__btnhomr">
            <span class="material-symbols-outlined">favorite</span>
            <div class="hover-sort__btnhome facotite-op__btnhome ">
                <p>most wanted</p>
                <p>less wanted</p>
            </div>
        </div>

        <div class="div-money__btnhomr">
            <span class="material-symbols-outlined">attach_money</span>
            <div class="hover-sort__btnhome money-op__btnhome ">
                <p>Most Expensive</p>
                <p>Cheapest</p>
            </div>
        </div>

        <div class="div-time__btnhomr">
            <span class="material-symbols-outlined">schedule</span>
            <div class="hover-sort__btnhome time-op__btnhome ">
                <p>Newest</p>
                <p>oldest</p>
            </div>
        </div>

     

    </div>

</section>


<section class="list-container__home">
<div class="llist-con-div__home">
    <div class="txt-cont-div___home">
        <h3>Painting</h3>
        <p>find artworks that has fewer copy</p>
    </div>
    <div class="trend-cont__home">
    {% include "../Aucation/Trends.html" %}
    </div>
</div>





</section>


</div>

{% endblock content %}  
