{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        #btnHomeHost{
            display: none;
        }

        .btn-mifa-host__home{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: xxx-large;
            color: #444444;
            text-align: center;
        }
     
    </style>
<div id="btnHomeHost">

<section class="btn-mifa-host__home">
<div>
<h1>MIFAhost</h1>
<p>Be host for MIFAfest.</p>
</div>
</section>

</div>

{% endblock content %}  
