{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
    .control-btn__home{
        
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }
    .control-btn__home hr{
        width: 90%;
        z-index: -1;
    }
        .div-in-btn__home{
            display: flex;
            margin: 1rem 10% 0 5%;
            justify-content: space-between;
            text-align: left;
            color: rgb(87, 87, 87);
            font-size: 20px;
            font-family: inherit;
            font-weight: bold;
        }

        .div-in-btn__home span{
            cursor: pointer;
        }

    .div-in-btn__homeActive, #mifaaucationBtn{
        color: #000; 
        text-decoration: underline;
        text-underline-offset: 12px;
    }
    .div-in-btn__homeUnActive{
        color: rgb(87, 87, 87);
        text-decoration: none;
    }

    .mifaaucation__home{
        margin-left: 4%;
        color: #444444;
    }
    .mifaaucation__home p{
        color: #a1a1a1;
    }

    .llist-con-div__home{
        display: flex;
        margin-left: 3%;
        align-items: center;
        margin-top: 10px;
    }
    .trend-cont__home{
        width: 85%;
    }
    .llist-con-div__home div p{
        color: #a1a1a1;
    }

    .txt-cont-div___home{
        width: 10%;
    }

    .div-show-more-btn__auca{
        display: flex;
        justify-content: center;
        margin-top: 10px
    }
    </style>

<section class="control-btn__home">
    <div class="div-in-btn__home">
    <span class="mifa-btn__home" id="mifaCollocaBtn">MIFA Collocation</span>
    <span class="mifa-btn__home" id="mifahostBtn">MIFAhost</span>
    <span class="mifa-btn__home" id="mifaaucationBtn">MIFAaucation</span>
        
    </div>
    <hr />
</section>

<div id="mifaacutionHome">
<section class="mifaaucation__home">
    <h1>MIFAauction</h1>
    <p>find the collocation lorem lorem.</p>
</section>


<section class="list-container__home">
<div class="llist-con-div__home">
    <div class="txt-cont-div___home">
        <h3>Timer</h3>
        <p>July 10, 2024 - July 28</p>
    </div>
    <div class="trend-cont__home">
    {% include "../Aucation/Trends.html" %}
    </div>
</div>



<div class="div-show-more-btn__auca">
<button class="show-more-btn__auca">
    Show More<span class="material-symbols-outlined">arrow_drop_down</span>
</button>
</div>
</section>
</div>

{% include "./btnHomeColo.html" %}
{% include "./btnHomehost.html" %}


{% endblock content %}  