{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        #mifaacutionHome{
            display: none;
        }

        
    </style>

<div id="mifaacutionHome">
    <section class="mifaaucation__home">
        <h1>MIFAauction</h1>
        <p>find the collocation lorem lorem.</p>
    </section>
    
    
    <section class="list-container__home">
    <div class="llist-con-div__home">
        <div class="txt-cont-div___home">
            <h4><div id="countdown"></div></h3>
            <p>July 10, 2024 - July 28</p>
        </div>
        <div class="trend-cont__home">

        </div>
    </div>
    
    
    
    <div class="div-show-more-btn__auca">
    <button class="show-more-btn__auca">
        Show More<span class="material-symbols-outlined">arrow_drop_down</span>
    </button>
    </div>
    </section>
    </div>
{% endblock content %}  

