{% load static %}
<html>
  <head>
<style>
  .marquee-content:hover {
    cursor:pointer;
    animation-play-state: paused;
  }


  .slide-contr{
    width: 100%;
    top: 0; 
    overflow: hidden;
    object-fit: cover;
  }

.h1-bg h1{
  top: 5%;
  right: 12%;
  position: absolute;
  width: 40%;
  
}

.h1-bg h2{
  margin-top:35%;
  right: auto;
  left: 10%;
}

</style>



  </head>
  <body>

    <main>
        
      <section class="main-first">
          
       ‍‍‍       <div class="h1-bg">
                  
                  <div class="slide-contr">
                  {% include "./homeSlide.html" %}
                  </div>

                  <h1>PERSIAN GIRL STILL THERE!</h1>
              </div>

              









              

              <h2>Who Are We?</h2>

              <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, mollitia nostrum! Error autem blanditiis, dolorem asperiores quis, quidem, voluptatum voluptate aliquid ipsum iste quae laboriosam officia at reiciendis necessitatibus illo?
              </span>
              <span>
                  Lorem, ipsum dolor sit amet <span class="p">consectetur adipisicing elit.</span> Ipsum nisi, voluptatum 
              </span>
        

















              <!-- acardeon introductoin -->

              <div class="accordion">
                  <ul>
                    <li>
                      <div> <a href="#">
                        <h2>Title 1</h2>
                        <p>Description 1</p>
                        </a> </div>
                    </li>
                    <li>
                      <div> <a href="#">
                        <h2>Title 2</h2>
                        <p>Description 2</p>
                        </a> </div>
                    </li>
                    <li>
                      <div> <a href="#">
                        <h2>Title 3</h2>
                        <p>Description 3</p>
                        </a> </div>
                    </li>
                    <li>
                      <div> <a href="#">
                        <h2>Title 4</h2>
                        <p>Description 4</p>
                        </a> </div>
                    </li>
                    <li>
                      <div> <a href="#">
                        <h2>Title 5</h2>
                        <p>Description 5</p>
                        </a> </div>
                    </li>
                    <li>
                      <div> <a href="#">
                        <h2>Title 6</h2>
                        <p>Description 6</p>
                        </a> </div>
                    </li>
                  </ul>
                </div>


              <!-- acardeon introductoin -->






            

          
      </section>

      <section class="slider-images">
          <h1>See More The Persian Girls' Hand!</h1>
          <div class="marquee">
<div class="marquee-content"> 
  <div class="marquee-item" >
    <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=01" alt="" id="img-scroll">
  </div>
  
  <div class="marquee-item" id="img-scroll">
    <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=02" alt="">
  </div>
  
  <div class="marquee-item" id="img-scroll">
    <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=03" alt="">
  </div>
  
  <div class="marquee-item" id="img-scroll">
    <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=04" alt="">
  </div>
  
  <div class="marquee-item" id="img-scroll">
    <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=05" alt="">
  </div>
  
  <div class="marquee-item" id="img-scroll">
    <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=06" alt="">
  </div>
  
  <div class="marquee-item" id="img-scroll">
    <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=07" alt="">
  </div>
  <div class="marquee-item" id="img-scroll">
    <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=05" alt="">
  </div>
  
  <div class="marquee-item" id="img-scroll">
    <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=06" alt="">
  </div>
  
  <div class="marquee-item" id="img-scroll">
    <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=07" alt="">
  </div>
  

</div>
</div>
      </section>


      <section class="second-section-main" >
          <h1>judges</h1>

          <div class="judge-main">
          <div>
            <img alt="" src="{% static './images/judges/j_01.jpg' %}"  class="judges-div"/> 
            <span class="judges-div-span">MAriam</span>
          </div>

          <div>
            <img alt="" src="{% static './images/judges/j_02.jpg' %}"  class="judges-div"/> 

              <span class="judges-div-span">JAmes</span>
          </div>
      </div>
      </section>




      <section class="third-donation">
          <h1>we're non-profit organization. we bulit this on support concept, we need your donations...</h1>
          <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias repellat aliquid ab, fuga ad iusto possimus repellendus totam quidem cum </h4>
          <button class="sighn-up-btn"> Donate </button>

      </section>
      
  </main>









  </body>

  <script>

  </script>
</html>

