<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./acarsrc/style-custom.min.css">

    <link rel="stylesheet" href="Home.css">
    <link rel="stylesheet" href="Header.css">
    <script src="../script.js"></script>

     



    <title>Document</title>
</head>
<body>
   





    <main>
        
        <section class="main-first">
            
         ‍‍‍       <div class="h1-bg">
                    <h1>Persian Girls Still There! </h1>
                </div>

                <h2>Who Are We?</h2>

                <span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, mollitia nostrum! Error autem blanditiis, dolorem asperiores quis, quidem, voluptatum voluptate aliquid ipsum iste quae laboriosam officia at reiciendis necessitatibus illo?
                </span>
                <span>
                    Lorem, ipsum dolor sit amet <span class="p">consectetur adipisicing elit.</span> Ipsum nisi, voluptatum 
                </span>
          

                <!-- acardeon introductoin -->

                <div class="accordion">
                    <ul>
                      <li>
                        <div> <a href="#">
                          <h2>Title 1</h2>
                          <p>Description 1</p>
                          </a> </div>
                      </li>
                      <li>
                        <div> <a href="#">
                          <h2>Title 2</h2>
                          <p>Description 2</p>
                          </a> </div>
                      </li>
                      <li>
                        <div> <a href="#">
                          <h2>Title 3</h2>
                          <p>Description 3</p>
                          </a> </div>
                      </li>
                      <li>
                        <div> <a href="#">
                          <h2>Title 4</h2>
                          <p>Description 4</p>
                          </a> </div>
                      </li>
                      <li>
                        <div> <a href="#">
                          <h2>Title 5</h2>
                          <p>Description 5</p>
                          </a> </div>
                      </li>
                      <li>
                        <div> <a href="#">
                          <h2>Title 6</h2>
                          <p>Description 6</p>
                          </a> </div>
                      </li>
                    </ul>
                  </div>


                <!-- acardeon introductoin -->






              

            
        </section>

        <section class="slider-images">
            <h1>See More The Persian Girls' Hand!</h1>
            <div class="marquee">
  <div class="marquee-content"> 
    <div class="marquee-item">
      <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=01" alt="">
    </div>
    
    <div class="marquee-item">
      <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=02" alt="">
    </div>
    
    <div class="marquee-item">
      <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=03" alt="">
    </div>
    
    <div class="marquee-item">
      <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=04" alt="">
    </div>
    
    <div class="marquee-item">
      <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=05" alt="">
    </div>
    
    <div class="marquee-item">
      <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=06" alt="">
    </div>
    
    <div class="marquee-item">
      <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=07" alt="">
    </div>
    
    <div class="marquee-item">
      <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=08" alt="">
    </div>
    
    
    <div class="marquee-item">
      <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=01" alt="">
    </div>
    
    <div class="marquee-item">
      <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=02" alt="">
    </div>
    
    <div class="marquee-item">
      <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=03" alt="">
    </div>
    
    <div class="marquee-item">
      <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=04" alt="">
    </div>
    
    <div class="marquee-item">
      <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=05" alt="">
    </div>
    
    <div class="marquee-item">
      <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=06" alt="">
    </div>
    
    <div class="marquee-item">
      <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=07" alt="">
    </div>
    
    <div class="marquee-item">
      <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=08" alt="">
    </div>
  </div>
</div>
        </section>


        <section class="second-section-main">
            <h1>judges</h1>

            <div class="judge-main">
            <div class="judges-div">
                
                <span>MAriam</span>
            </div>

            <div class="judges-div anoth-judge-img">
                <span>JAmes</span>
            </div>
        </div>
        </section>




        <section class="third-donation">
            <h1>we're non-profit organization. we bulit this on support concept, we need your donations...</h1>
            <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias repellat aliquid ab, fuga ad iusto possimus repellendus totam quidem cum </h4>
            <button class="sighn-up-btn"> Donate </button>

        </section>
        
    </main>




    <footer>

        <div class="footer-logos">
        <h1>MIFAfest</h1>
        <h1>logo</h1>
        <h3>social logos</h3>
        </div>


        

            <div class="left-links">
                <h1>Links</h1>
                <h3>link</h3>
                <h3>link</h3>
                <h3>link</h3>
                <h3>link</h3>
                <h3>link</h3>
                <h3>link</h3>
                <h3>link</h3>
            </div>
    
            <div class="center-links">
                <h1>Links</h1>
                <h3>link</h3>
                <h3>link</h3>
                <h3>link</h3>
                <h3>link</h3>
                <h3>link</h3>
            </div>
    
            <div class="right-links">
                <h1>Links</h1>
                <h3>HEeee!</h3>
                <h3>link</h3>
                <h3>link</h3>
                <h3>link</h3>
                <h3>link</h3>
                <h3>link</h3>
                <h3>link</h3>
                <h3>link</h3>
                <h3>link</h3>
                <h3>link</h3>
            </div>


           

       

    </footer>

    <div style="display: flex; justify-content: center; background-color: black;">
        <section class="social-logos">

            <img src="../statics/images/social-icons/instagram.png" alt="" />
            <img src="../statics/images/social-icons/facebook.png" alt="" />
            <img src="../statics/images/social-icons/pinterest.png" alt="" />
            <img src="../statics/images/social-icons/twitter.png" alt="" />
            <img src="../statics/images/social-icons/youtube.png" alt="" />
            <img src="../statics/images/social-icons/patreon.png" alt="" />
        </section>
        
    </div>
    
</body>

</html>