{% load static %}
<html>
  <head>
  
  </head>
<style>
  .marquee-content:hover {
    cursor:pointer;
    animation-play-state: paused;
  }


  .slide-contr{
    width: 100%;
    top: 0; 
    overflow: hidden;
    object-fit: cover;
  }

.h1-bg h1{
  top: 5%;
  right: 12%;
  position: absolute;
  width: 40%;
  
}

.h1-bg h2{
  right: auto;
  left: 10%;
}





    .modal img{
        width: 30%;
        height: 60%;
    }


.who-are__section{
  text-align: center;
  width: 100%;
  display: none;
}

</style>



  </head>
  <body>

    <main>
        
      <section class="main-first" style="width: 100%;">
          
       ‍‍‍       <div class="h1-bg" style="width: 96%; height: 120vh;">
                  
                  <div>
                  {% include "./homeSlide.html" %}
                  </div>

                  <h1>PERSIAN GIRL STILL THERE!</h1>
              </div>

              




              

          
<!-- Hadi take care on modals!-->
          
      </section>

  <section class="who-are__section">
    <h2>Who Are We?</h2>

              <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, mollitia nostrum! Error autem blanditiis, dolorem asperiores quis, quidem, voluptatum voluptate aliquid ipsum iste quae laboriosam officia at reiciendis necessitatibus illo?
              </span>
              <span>
                  Lorem, ipsum dolor sit amet <span class="p">consectetur adipisicing elit.</span> Ipsum nisi, voluptatum 
              </span>
  </section>

      {% include "./modal.html" %}

      <section class="slider-images">
          <h1>See More The Persian Girls' Hand!</h1>
          <div class="marquee">
<div class="marquee-content"> 
  <div class="marquee-item" >
    <a href="#ex1" rel="modal:open" id="modalBTN"><img src="{% static './images/colo-ex02.webp'%}" alt="" id="img-scroll"></a>
  </div>

  <div class="marquee-item" >
    <a href="#ex1" rel="modal:open" id="modalBTN"><img src="{% static './images/colo-ex03.webp'%}" alt="" id="img-scroll"></a>
  </div>
  <div class="marquee-item" >
    <a href="#ex1" rel="modal:open" id="modalBTN"><img src="{% static './images/colo-ex04.webp'%}" alt="" id="img-scroll"></a>
  </div>
  <div class="marquee-item" >
    <a href="#ex1" rel="modal:open" id="modalBTN"><img src="{% static './images/colo-ex02.webp'%}" alt="" id="img-scroll"></a>
  </div>
  <div class="marquee-item" >
    <a href="#ex1" rel="modal:open" id="modalBTN"><img src="{% static './images/colo-ex03.webp'%}" alt="" id="img-scroll"></a>
  </div>
  <div class="marquee-item" >
    <a href="#ex1" rel="modal:open" id="modalBTN"><img src="{% static './images/colo-ex04.webp'%}" alt="" id="img-scroll"></a>
  </div>
  <div class="marquee-item" >
    <a href="#ex1" rel="modal:open" id="modalBTN"><img src="{% static './images/colo-ex02.webp'%}" alt="" id="img-scroll"></a>
  </div>
  <div class="marquee-item" >
    <a href="#ex1" rel="modal:open" id="modalBTN"><img src="{% static './images/colo-ex03.webp'%}" alt="" id="img-scroll"></a>
  </div>
  <div class="marquee-item" >
    <a href="#ex1" rel="modal:open" id="modalBTN"><img src="{% static './images/colo-ex04.webp'%}" alt="" id="img-scroll"></a>
  </div>
  <div class="marquee-item" >
    <a href="#ex1" rel="modal:open" id="modalBTN"><img src="{% static './images/colo-ex02.webp'%}" alt="" id="img-scroll"></a>
  </div>
  <div class="marquee-item" >
    <a href="#ex1" rel="modal:open" id="modalBTN"><img src="{% static './images/colo-ex03.webp'%}" alt="" id="img-scroll"></a>
  </div>
  <div class="marquee-item" >
    <a href="#ex1" rel="modal:open" id="modalBTN"><img src="{% static './images/colo-ex04.webp'%}" alt="" id="img-scroll"></a>
  </div>
  




</div>
</div>
      </section>

<!--
      <section class="second-section-main" >
          <h1>judges</h1>

        <div class="judge-main">
          <div  class="judges-div">
            <img alt="" src="{% static './images/judges/j-01.jpg' %}" /> 
            
          </div>

          <div class="judges-div">
            <img alt="" src="{% static './images/judges/j-02.jpeg' %}"  /> 

          </div>
          <div class="judges-div">
            <img alt="" src="{% static './images/judges/j-03.jpg' %}"  /> 
          </div>

          <div class="judges-div">
            <img alt="" src="{% static './images/judges/j-04.jpg' %}"  /> 
          </div>
      </div>
      </section>
-->


<!-- controlls -->

{% include "./btnHome.html" %}





<!-- 
<section class="mifa-host">
  <div>
  <h5>Discover</h5>
  <hr />
  <h1>Be Host For MIFAfest</h1>
  <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h4>
  <a href=""><span class=""> Learn More </span></a>
  </div>
  <img src="{% static './images/random.jpg'%}" id="randomMifaHost"/>
</section>


-->
<section class="mifa-host">
  <div>
  <h5>Discover</h5>
  <hr />
  <h1>MIFAgift</h1>
  <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h4>
  <a href=""><span class=""> Learn More </span></a>
  </div>
  <img src="{% static './images/mifagift.webp'%}" id="randomMifaHost"/>
</section>











      <section class="third-donation">
          <h1>makeing persion girl inpired, the Goal that we chanseing on!</h1>
          <h4>we bulit this on support concept.</h4>
          <hr />
          <a href=""><span> Learn More </span></a>

      </section>
      
  </main>







  </body>


</html>

