@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}
.header-main{
    width: 99%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

.main-first{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    place-items: center;
    padding: 3rem;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3);
    z-index: -2;
    
    
    
}
.main-first h1{
    
    font-size: 8rem;
    animation: changebk 10s infinite alternate linear;
}

.h1-bg{
  margin-top:2rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3);
  background: linear-gradient(90deg, rgba(3, 244, 111, 0.01), rgba(31, 224, 13, 0.01), rgba(3, 169, 244, 0.01), rgba(3, 244, 111, 0.01));


}


@keyframes changebk {
  0%{
      color: #d8d8d8;
  }
  25%{
      color: #a1a1a1;
  }
  50%{
      color: #6e6e6e;
  }
  75%{
      color: #444444;
  }
  100%{
      color: #000000;
  }
}



.main-first h2{
  color: rgb(99, 99, 99);
  width: 70%;
}

.main-first span{
    padding-top: -5rem;
    color: rgb(99, 99, 99);
    width: 70%;
}

.main-first .p{
    color: rgb(0, 255, 255);
    cursor: pointer;
}




/* section slider */
.slider-images{
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    z-index: -1;
    padding:2rem 0 2rem 0;
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .marquee {
    overflow: hidden;
  }
  
  .marquee-content {
    display: flex;
    animation: scrolling 30s linear infinite;
  }

  
  
  .marquee-item {
    flex: 0 0 16vw;
    margin: 0 1vw;
  /*   flex: 0 0 20vw; */
  /*   margin: 0 2vw; */
  }

  
  .marquee-item img {
    display: block;
    width: 100%;
  /*   padding: 0 20px; */
  }

  .marquee-item img::after {
    animation-play-state: paused;
  }
  
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translatex(-144vw); }
  }
  

/* end slider*/


.slider-images h1{
    display: grid;
    grid-template: inherit;
    place-items: center;
}

.slider-images h1:hover{
    cursor: pointer;
    text-underline-offset: 2px;
}





/*  second-section-main */
    .second-section-main{
        display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    place-items: center;
    
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 5px 15px rgba(0,0,0,0.5);
    z-index: 3;
    
    }

.judge-main{
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    
}

.judges-div{
  width: 10rem;
  height: 10rem;
  border: 1px solid #000000;
  border-radius: 50%;
  
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 5px 15px rgba(0,0,0,0.5);
  filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));

  background-image: url("../statics/images/judges/j_01.jpg");
  background-size: 10rem auto;

  margin-bottom: 4rem;





}

.anoth-judge-img{
  background-image: url("../statics/images/judges/j_02.jpg");

}



.judges-div:hover{
 
  cursor: pointer;
  transform: ;

  background-size: cover;
  background-position: center;
  background-size: 11rem auto;
  transition: all 0.9s;
  opacity: 0.8;
  mix-blend-mode: multiply;



}






.judges-div span {
  position: fixed;
  color: #ffffff;
  background-color: #000000;
  border-radius: 4px;
  margin-top: 12px ;
  bottom: 0;

  
}



/*  second-section-main */



/*  acardeon itroduction */

.accordion {
  width: 100%;
  max-width: 1080px;
  height: 250px;
  overflow: hidden;
  margin: 50px auto;

  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 5px 15px rgba(0,0,0,0.5);
  
}
.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}
.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.accordion ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}
.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.accordion ul li div a h2 {
  font-family: Montserrat, sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}
.accordion ul li div a p {
  top: 160px;
  font-size: 13.5px;
}

.accordion ul:hover li { width: 8%; }
.accordion ul:hover li:hover { width: 60%; }
.accordion ul:hover li:hover a { background: rgba(0, 0, 0, 0.4); }
.accordion ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}


@media screen and (max-width: 600px) {
  .accordion { height: auto; }
  .accordion ul li,
  .accordion ul li:hover,
  .accordion ul:hover li,
  .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
  }
  





.accordion ul li:nth-child(1) { background-image: url("../statics/images/woman02.jpg"); }
.accordion ul li:nth-child(2) { background-image: url("../statics/images/woman-01.jpg"); }
.accordion ul li:nth-child(3) { background-image: url("../statics/images/woman02.jpg"); }
.accordion ul li:nth-child(4) { background-image: url("../statics/images/woman-01.jpg"); }
.accordion ul li:nth-child(5) { background-image: url("../statics/images/woman02.jpg"); }
.accordion ul li:nth-child(6) { background-image: url("../statics/images/woman-01.jpg"); }

/*  acardeon itroduction */






.third-donation{
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}









/* footer  style*/
footer{
  background-color: #000000;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3);
  margin-top: 3rem;
  padding: 3rem;
  width: 100%;
  color: #fff;

  display: flex;
  justify-content: center;
  justify-content: space-between;
}


footer h3:hover{
  cursor: pointer;
}


.social-logos{
  background-color: #fff;
  border-radius: 10px;
  
}

.social-logos img{
  width: 30px;
  height: auto;
}
.social-logos img:hover{
  cursor: pointer;
}



/* footer  style*/