{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .mifa-gift__home{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 90vh;
        }

        .mifa-gift__home hr{
            width: 10%;
        }
        .mifa-gift__home h1{
            font-size: xxx-large;
            color: #444444;
        }
        .mifa-gift__home p{
            color: #a1a1a1;
        }
    </style>

<section class="mifa-gift__home">
<div>
<p>discover</p>
<hr />

<h1>MIFAgift</h1>
<p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used</p>
</div>
</section>
{% endblock content %}  
