{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .btn__mifahost{
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .btn__mifahost span{
            font-size: 25px;
        }
        .btn-cont___mifahost{
            width: 90%;
            background-color: #fff;
            border-radius: 20px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            
        }
        .btn-cont___mifahost div span{
            font-size: 30px;
            cursor: pointer;
        }

        .city-sort__mifahost{
            display:none;
            position: absolute;
            flex-direction: column;
            
            
        }
        .city-sort__host:hover .city-sort__mifahost{
            display: flex;
            background-color: #fff;
            border-radius: 20px;
        }
    </style>

<section class="btn__mifahost">
<div><span class="material-symbols-outlined">sort</span></div>
<div class="btn-cont___mifahost">
    
    <div class="city-sort__host"><span class="material-symbols-outlined ">location_city</span>
        <div class="city-sort__mifahost">
            <label>sort by city: </label>
            <select name="city">
                <option value="tehran">Tehran</option>
                <option value="new york">NewYork</option>
                <option value="Tokoyo">Tokoyo</option>
                <option value="New Dehli">New Dehli</option>  
            </select>
        </div>
    </div>
    <div><span class="material-symbols-outlined">calendar_month</span></div>
    <div><span class="material-symbols-outlined">grid_view</span></div>
    <div><span class="material-symbols-outlined">cached</span></div>
    <div><span class="material-symbols-outlined">attach_money</span></div>
    <div><span class="material-symbols-outlined">star</span></div>
    <div><span class="material-symbols-outlined">favorite</span></div>
</section>
</div>
{% endblock content %}  
