{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .card-container__mifahost{
            margin: 1rem 2% 0 4%;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .card-container__mifahost .card {
  
  height: 374px;
  background: white;
  padding: .4em;
  border-radius: 6px;
  flex: 0 0 auto;
  width: auto;
}

.card-container__mifahost .card .card-image {
  background-color: rgb(236, 236, 236);
  width: 250px;
  height: 70%;
  border-radius: 6px 6px 0 0;
}

.card-container__mifahost .card .card-image:hover {
  transform: scale(0.98);
}

.card-container__mifahost .card .category {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.card-container__mifahost .card .category:hover {
  cursor: pointer;
}

.card-container__mifahost .card .heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.card-container__mifahost .card .heading:hover {
  cursor: pointer;
}

.card-container__mifahost .card .heading .author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}
    </style>
<section class="card-container__mifahost">
<div class="card">
    <div class="card-image"></div>
    <div class="category"> TEHRAN </div>
    <div class="heading"> pop art - Oil Painting
        <div class="author"> By <span class="name">Nastaran</span> 4 days ago</div>
    </div>
</div>

<div class="card">
    <div class="card-image"></div>
    <div class="category"> TEHRAN </div>
    <div class="heading"> pop art - Oil Painting
        <div class="author"> By <span class="name">Nastaran</span> 4 days ago</div>
    </div>
</div>

<div class="card">
    <div class="card-image"></div>
    <div class="category"> TEHRAN </div>
    <div class="heading"> pop art - Oil Painting
        <div class="author"> By <span class="name">Nastaran</span> 4 days ago</div>
    </div>
</div>

<div class="card">
    <div class="card-image"></div>
    <div class="category"> TEHRAN </div>
    <div class="heading"> pop art - Oil Painting
        <div class="author"> By <span class="name">Nastaran</span> 4 days ago</div>
    </div>
</div>

<div class="card">
    <div class="card-image"></div>
    <div class="category"> TEHRAN </div>
    <div class="heading"> pop art - Oil Painting
        <div class="author"> By <span class="name">Nastaran</span> 4 days ago</div>
    </div>
</div>

<div class="card">
    <div class="card-image"></div>
    <div class="category"> TEHRAN </div>
    <div class="heading"> pop art - Oil Painting
        <div class="author"> By <span class="name">Nastaran</span> 4 days ago</div>
    </div>
</div>

<div class="card">
    <div class="card-image"></div>
    <div class="category"> TEHRAN </div>
    <div class="heading"> pop art - Oil Painting
        <div class="author"> By <span class="name">Nastaran</span> 4 days ago</div>
    </div>
</div>

<div class="card">
    <div class="card-image"></div>
    <div class="category"> TEHRAN </div>
    <div class="heading"> pop art - Oil Painting
        <div class="author"> By <span class="name">Nastaran</span> 4 days ago</div>
    </div>
</div>

<div class="card">
    <div class="card-image"></div>
    <div class="category"> TEHRAN </div>
    <div class="heading"> pop art - Oil Painting
        <div class="author"> By <span class="name">Nastaran</span> 4 days ago</div>
    </div>
</div>

<div class="card">
    <div class="card-image"></div>
    <div class="category"> TEHRAN </div>
    <div class="heading"> pop art - Oil Painting
        <div class="author"> By <span class="name">Nastaran</span> 4 days ago</div>
    </div>
</div>

<div class="card">
    <div class="card-image"></div>
    <div class="category"> TEHRAN </div>
    <div class="heading"> pop art - Oil Painting
        <div class="author"> By <span class="name">Nastaran</span> 4 days ago</div>
    </div>
</div>


<div class="card">
    <div class="card-image"></div>
    <div class="category"> TEHRAN </div>
    <div class="heading"> pop art - Oil Painting
        <div class="author"> By <span class="name">Nastaran</span> 4 days ago</div>
    </div>
</div>

<div class="card">
    <div class="card-image"></div>
    <div class="category"> TEHRAN </div>
    <div class="heading"> pop art - Oil Painting
        <div class="author"> By <span class="name">Nastaran</span> 4 days ago</div>
    </div>
</div>

<div class="card">
    <div class="card-image"></div>
    <div class="category"> TEHRAN </div>
    <div class="heading"> pop art - Oil Painting
        <div class="author"> By <span class="name">Nastaran</span> 4 days ago</div>
    </div>
</div>



<span>Show more</span>
</section>
{% endblock content %}  
