{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .past-host__hprof{
            display: flex;
            padding-left: 7%;
            margin-top: 10px;
            flex-wrap: wrap;
        }
         .past-host__hprof .card {
  
  height: 365px;
  background: white;
  padding: .4em;
  border-radius: 6px;
  flex: 0 0 auto;
  width: fit-content;
  margin-left: 10px;
}

.past-host__hprof .card .card-image {
  background-color: rgb(236, 236, 236);
  width: 250px;
  height: 70%;
  border-radius: 6px 6px 0 0;
}

.past-host__hprof .card .card-image:hover {
  transform: scale(0.98);
}

.past-host__hprof .card .category {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
  display: flex;
  align-items: end;
}

.past-host__hprof .card .category:hover {
  cursor: pointer;
}

.past-host__hprof .card .heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.past-host__hprof .card .heading:hover {
  cursor: pointer;
}

.past-host__hprof .card .heading .author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}

.icon-card__host{
    color: #444444;
    font-family: inherit;
    font-size: 17px;
    display: flex;
    align-items: center;
    position: absolute; 
    background-color: #fff;
    border: 1px #bbb solid;
    padding: 10px;
    transform: translateY(-280px);
    display: none;
    transition: display ease 2s;
    border-radius: 5px;
}

.card:hover .icon-card__host{
    display: flex;
}

.forpast-card__hprof{
    background-color: red;
    color: #fff;
    border-color: #fff;
}
.tcyt-h3{
    color: #442121;
    width: 40%;
    margin-left: 5%;
}
    </style>
<div class="tcyt-h3">
    <h3>The MIFAhosts Are not AVIALABLE now, but you can check for detail.</h3S>
</div>
<section class="past-host__hprof">
    
    <div class="card">
        <div class="card-image"></div>
        <div class="category"> <span class="material-symbols-outlined">location_on</span> TEHRAN </div>
            
                <div class="icon-card__host forpast-card__hprof">Not Avialable!</div>
            
        <div class="heading"> pop art - Oil Painting
            <div class="author"> By <span class="name">Nastaran</span> 4 days ago</div>
        </div>
    </div>

    <div class="card">
        <div class="card-image"></div>
        <div class="category"> <span class="material-symbols-outlined">location_on</span> TEHRAN </div>
            
                <div class="icon-card__host forpast-card__hprof">Not Avialable!</div>
            
        <div class="heading"> pop art - Oil Painting
            <div class="author"> By <span class="name">Nastaran</span> 4 days ago</div>
        </div>
    </div>

    
</section>

{% include '../Footer/Footer.html' %}
{% endblock content %}  

