{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
    .nav-mifahost__hr{
        width: 60%;
        margin-left: 5px;
    }
        .location-div__host{
            width: 20%;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
       
    </style>
<div class="nav-mifahost__hr"><hr /></div>
<section class="nav-mifa__host">
<h1>MIFAhost</h1>
<div class="span-container__mifaac">
<span>get know about hosts on MIFAhost. and sellers across the globe. We feature premium artworks including modern, contemporary, and street art, so you can find works by your favorite artists—and discover new ones—all in one place.
</span>
</div>
</section>
<div class="nav-mifahost__hr"><hr /></div>




<section class="location-div__host">


</section>
{% endblock content %}  
