{% extends 'base.html' %}
{% load static %}

{% block title %}
   MIFAfest - Eventname
{% endblock title %}

{% block content %}
    <style type="text/css">
        .head-host-detail__host{
            padding-top: 6rem;
            display: flex;
            padding-left: 4rem;
        }

        .right-headdeta__host{
            position: absolute;
            right: 15%;
            margin-top: 7vh;
            
        }
        .right-headdeta__host span{
            font-size: 2em;
            cursor: pointer;
            border: 1px solid #4e4e4e48;
            color: #4e4e4e;
            border-radius: 3px;
            margin: 0 5px 0 5px;
        }

        .txt-conta__detailhost{
            color: #4e4e4e;
        }
        .txt-conta__detailhost h1{
            color: #252525;
        }
    </style>
{% include "../Header/Header.html" %}

<section class="head-host-detail__host">

    <div class="txt-conta__detailhost">
        <h5>Residence, Tehran</h5>
        <h1>Shirana Shahbazi</h1>
    </div>

    <div class="right-headdeta__host">
        <span class="material-symbols-outlined">bookmark_add</span>
        <span class="material-symbols-outlined">share</span>
    </div>


</section>
{% endblock content %}  
