{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .detail-host__detail{
            background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
            background-repeat: no-repeat;
            display: flex;
            justify-content: space-around;
            padding: 10px 0 10px 0;
            background-position-x: 70%;
            margin-top: 20px;
        }

        .profile-contaner__detahost img{
            width: 150%;
        }
        .profile-contaner__detahost{
            width: 40vh;
            height: 40vh;
            overflow: hidden;
            border-radius: 50%;
            box-shadow: 0 0 0 5px #6b6b6b5f;
            margin-right: 5%;

        }

        .txt-detailcon___deatil{
            margin-left: 5%;
            color: #888;
            
        }
        .txt-detailcon___deatil h1{
            color: #333;
        }
        .txt-detailcon___deatil a{
            color: #333;
        }
        .txt-detailcon___deatil hr{
            border: 1px solid transparent; 
  border-image: linear-gradient(to right, #0000006c 0%, #00000086 30%, transparent 30%);
  border-image-slice: 1; 
        }
    </style>

<section class="detail-host__detail">
    <div class="txt-detailcon___deatil">
    <h1>Know More About Nastaran!</h1>
    <h3>check our MIFAhost, Nastaran.</h3>
    <span>click the button below to checkout Nastaran's profile.</span>
    <hr />
    <a href=""><span>See Her Profile</span></a>
    </div>
    
    <div class="profile-contaner__detahost">
    <img src="{% static './images/ex-pro.jpeg' %}" alt="" />
    </div>
</section>

{% endblock content %}  
