{% extends 'base.html' %}
{% load static %}

{% block title %}
   MIFAhost
{% endblock title %}

{% block content %}
    <style type="text/css">
        .nav-mifa__host{
            display: flex;
            padding: 20px;
            align-items: center;
            justify-content: space-between;
       
            padding-right: 5%;

        }
        .nav-mifa__host h1{
            color: #444444;
            font-size: 3em;
        }
        .span-container__mifaac {
            width: 60%;
            padding-right: 20%;
            color: rgb(46, 46, 46);

            
        }
        .span-container__mifaac span{
            width: 30%;
        }
        .material-aua{
            margin-top: -2px;
        }
        

        .mifa-aucat__host{
            display: flex;
            align-items: center;
            text-align: left;
            margin-left: 5%;
            margin-top: 10vh; 
            color: #a1a1a1;
            font-size: 1em;
            font-weight: bold;
            height: 75vh;
        }
        .mifa-aucat__host div{
            width: 40%;
        }
        .mifa-aucat__host div h1{
            font-size: 3em;
            color: #444444;
        }

        .mifa-aucat__host div a{
            color: #444444;
        }

@media only screen and (max-width: 975px) {
    /* poster*/
       .poster__mifahost{
        flex-direction: column;
       }
      
}
    </style>

{% include "../Header/Header.html" %}




{% include "./PosterMIFAhost.html" %}


{% include "./cardMIFAhost.html" %}


<section class="mifa-aucat__host">
    <div>
    <p>MIFAfest</p>
    <h1>MIFAhost</h1>
    <p>Embrace the role of a MIFA host and watch your influence expand beyond the borders of conventional communication. By supporting art that speaks to humanity's shared experiences, you become a beacon of social improvement and artistic inspiration.</p>
    <a href="/mifaaucation"><span>Learn More</span></a>
    </div>
    <img src="" alt="" />
</section>


{% include "../Footer/Footer.html" %}
{% endblock content %}  
