{% extends 'base.html' %}
{% load static %}

{% block title %}
   MIFAhost - Profile
{% endblock title %}

{% block content %}
    <style type="text/css">
        .main-head__mifaprof{
            padding:6rem 2% 0 2%;
            display: flex;
            background-color: #ffffff4e;
        }
        .info-contaner___hostprof{
            width: 55%;
            display: flex;
        }
        .info-contaner___hostprof img{
            width: 50%;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            box-shadow: 10px 10px 37px -13px rgba(0,0,0,0.64);
-webkit-box-shadow: 10px 10px 37px -13px rgba(0,0,0,0.64);
-moz-box-shadow: 10px 10px 37px -13px rgba(0,0,0,0.64);
        }

        .bio-cnottxt__hostprof{
            width: 40%;
        }
        
        .txt-nameres__mifaprof{
            margin-left: 30px;
        }
        .txt-nameres__mifaprof h1{
            color: #222;
        }
        .txt-nameres__mifaprof span{
            color: #333;
        }
        .txt-nameres__mifaprof p{
            color: #444;
            font-size: small;
            width: 70%;
        }
        .bio-cnottxt__hostprof h1{
            color: #444;
        }

        .txt-h1sec___hostprof{
            display: flex;
            justify-content: center;    
            font-size: 1.5em;
            color: #555;
            margin: 0;
        }
        .hr-cont__hostprof hr{
            width: 80%;
        }
        .txt-nameres__mifaprof h5{
            color: #444;
  margin-top: 15px;
  text-underline-offset: 8px;
  cursor: pointer;
  text-decoration: underline;
        }
    </style>
{% include '../Header/Header.html' %}

<section class="main-head__mifaprof">
    <div class="info-contaner___hostprof">
        <img src="{% static './images/ex-pro.jpeg' %}" alt="" />
        <div class="txt-nameres__mifaprof"> 
            <h1>Nastaran Daiag</h1>
            <span>Jewllary Colloctor </span>
            <span> , </span>
            <span> Tehran</span>
            <p>
                notice that lorem lore m ah aintings depict women in both peaceful repose and in unsettlin. 
            </p>

            <h5>Edit Profile</h5>
            <h5>Add a MIFAhost</h5>
        </div>
    </div>

    <hr />

    <div class="bio-cnottxt__hostprof">
        <h1>Bio</h1>
        <span>Hayv Kahraman’s oil-on-linen paintings depict women in both peaceful repose and in unsettling contortions. Embracing material exploration, the Iraqi-born artist has sliced into her canvases, incorporated acoustic foam amid the linen, painted on</span>
        <a><span>read more</span></a>
    </div>
</section>

<section class="txt-h1sec___hostprof">
    <h1>inspition sentence and so on!</h1>
</section>
{% include './hostProfilebtns.html' %}
{% endblock content %} 

