{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .sticky-secti__aucarion{
                display: flex;
                padding-top: 6rem;
                justify-content: space-around;
                border-bottom: 1px solid #8f8f8f72;
                padding-bottom: 10px;
                background-color: #ffffff;
                position: fixed;
                width: 100%;
        }

        .attention-cont__aucaio{
                display: flex;
                align-items: center;
                
        }
        .attention-cont__aucaio span:nth-child(1){
                color: rgba(82, 0, 0, 0.911);
        }
        .attention-cont__aucaio span:nth-child(2){
                color: rgba(66, 66, 66, 0.911);
        }

        .close-btn___fixauca{
                position: absolute;
                right: 3%;
                cursor: pointer;
                font-size: x-large;
        }

@media only screen and (max-width: 975px) {
        .hide-responseifix__auc{
                display:none;
        }
}
    </style>

  <section class="sticky-secti__aucarion">
        
        <div class="attention-cont__aucaio">
                <span class="material-symbols-outlined">notification_important</span>
                <span>Up Comming MIFAhost: </span>
                <span> <div class="countdown"> </div></span>
        </div>
        <div class="hide-responseifix__auc"><span>MIFAhost : <span>mahla mola - Public</span></span></div>
        <div class="close-btn___fixauca"><span class="material-symbols-outlined">close</span></div>
  </section>
{% endblock content %}  

