{% extends 'base.html' %}
{% load static %}

{% block title %}
   MIFAaucation
{% endblock title %}

{% block content %}
    <style type="text/css">
        .first___mifaac{
            display: flex;
            padding: 20px;
            align-items: center;
            justify-content: space-between;
            padding-top: 6em;
            padding-right: 5%;

        }
        .span-container__mifaac {
            width: 60%;
            padding-right: 20%;
            color: rgb(46, 46, 46);

            
        }
        .span-container__mifaac span{
            width: 30%;
        }
        .material-aua{
            margin-top: -2px;
        }

        .other-learn-more-contamnet___aucat{
            display: flex;
            align-items: center;
             cursor: pointer;

        }

        .hr-cont__auca hr{
            width: 90%;
            border: 1px solid rgba(134, 134, 134, 0.4);
            height: 1px;
        }

        .aucation-up-control___auca{
            margin-left: 6%;
            color: rgba(134, 134, 134, 0.8);
            cursor: pointer;
        }
        .aucation-up-control___auca span{
            margin-right: 30px;
        }
        .aucation-up-control___auca span:hover{
            color: rgba(134, 134, 134, 0.6);
        }
     
   .aucation-control__active{
            color: rgba(0, 0, 0, 0.6);
            border-bottom: 2px solid rgba(0, 0, 0, 0.6);
            padding-bottom: 8px;
        }

.descr-div__auca{
    margin-left: 3%;
}
.descr-div__auca h2{
    color: rgb(58, 58, 58);
}
/* place trends*/
.playstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(3, 3, 3, 0.9);
  outline: 0;
  transition: all  .2s ease;
  text-decoration: none;
}

.playstore-button:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
}


.texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-2 {
  font-weight: 600;
}


.place__trends{
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 3%;
    
}


.temp-place{
    color: rgba(0, 0, 0, 1);
    border-top: 2px solid #000;
}

    </style>
    {% include "../Header/Header.html" %}


        
<section class="first___mifaac">
<h1>MIFAauctions</h1>
<div class="span-container__mifaac">
<span>get know about auction on MIFAaucation. and sellers across the globe. We feature premium artworks including modern, contemporary, and street art, so you can find works by your favorite artists—and discover new ones—all in one place.
</span>
    <div class="other-learn-more-contamnet___aucat">
        <p>Learn More About MIFAaucation </p><span class="material-symbols-outlined material-aua">chevron_right</span>
    </div>
</div>
</section>


<div class="aucation-up-control___auca">
    
    <span class="aucation-control__active" id="">Highlights</span>
    <span class="span-up-controll__auca">Trends Lot</span>
</div>
<div class="hr-cont__auca"><hr /></div>
<div class="descr-div__auca">
    <h1>Highlights</h1>
    <h2>Look What Curators Like.</h2>
</div>




<section class="place__trends">
<a class="playstore-button" href="#">
  <span class="texts temp-place" >
    <span class="text-1 ">MIFAauction</span>
    <span class="text-2 temp-class__auca">CURRECT</span>
  </span>
</a>
<a class="playstore-button" href="#">
  <span class="texts">
    <span class="text-1">MIFAauction</span>
    <span class="text-2">UP COMING</span>
  </span>
</a>
<a class="playstore-button" href="#">
  <span class="texts">
    <span class="text-1">MIFAauction</span>
    <span class="text-2">PAST</span>
  </span>
</a>
</section>
<div class="hr-cont__auca"><hr /></div>


{% include "./MIFAhostAucation.html" %}

{% include "../Footer/Footer.html" %}
{% endblock content %}  
