{% extends 'base.html' %}
{% load static %}

{% block title %}
   MIFAaucation
{% endblock title %}

{% block content %}
    <style type="text/css">
        .first___mifaac{
            display: flex;
            padding: 20px;
            align-items: center;
            justify-content: space-between;
            padding-top: 6em;
            padding-right: 5%;

        }
        .span-container__mifaac {
            width: 60%;
            padding-right: 20%;
            color: rgb(46, 46, 46);

            
        }
        .span-container__mifaac span{
            width: 30%;
        }
        .material-aua{
            margin-top: -2px;
        }

        .other-learn-more-contamnet___aucat{
            display: flex;
            align-items: center;
             cursor: pointer;

        }

        .hr-cont__auca hr{
            width: 90%;
            border: 1px solid rgba(134, 134, 134, 0.4);
            height: 1px;
        }

        .aucation-up-control___auca{
            
        }
    </style>
    {% include "../Header/Header.html" %}


        
<section class="first___mifaac">
<h1>MIFAauctions</h1>
<div class="span-container__mifaac">
<span>get know about auction on MIFAaucation. and sellers across the globe. We feature premium artworks including modern, contemporary, and street art, so you can find works by your favorite artists—and discover new ones—all in one place.
</span>
    <div class="other-learn-more-contamnet___aucat">
        <p>Learn More About MIFAaucation </p><span class="material-symbols-outlined material-aua">chevron_right</span>
    </div>
</div>
</section>


<div class="aucation-up-control___auca">
    
    <span>Highlights</span>
    <span>Trends Lot</span>
    
</div>
<div class="hr-cont__auca"><hr /></div>

<div id="aucationZone">
{% include "./Trends.html" %}
</div>

<div id="TrendsLot">
{% include "./Trends.html" %}
</div>




{% endblock content %}  
