{% extends 'base.html' %}
{% load static %}

{% block title %}
   MIFAaucation
{% endblock title %}

{% block content %}
    <style type="text/css">
        
    </style>
<main>
        

      <section class="main-first" style="display:grid; place-items: center; box-shadow: none;"></section>

{% include "../Header/Header.html" %}


<section class="first___mifaac">
<h1>MIFAauctions</h1>
<div>get know about auction on MIFAaucation. and sellers across the globe. We feature premium artworks including modern, contemporary, and street art, so you can find works by your favorite artists—and discover new ones—all in one place.</div>
</section>

<section class="main___mifaac">
    
</section>

</main>
{% endblock content %}  
