{% extends 'base.html' %}
{% load static %}


{% block content %}
    <style type="text/css">
        .mifahost__auca{
            display: flex;
            justify-content: space-around;
            background-color: #fff;
            padding: 5px;
            font-size: xxx-large;
            color: rgba(0, 0, 0, 0.9);
            text-shadow: 0px 3px 7px rgba(0,0,0,0.19);
            margin-bottom: -7vh;
        }
         .mifahost__auca h6{
            font-size: xx-large;
            margin: -10vh 0 1rem 2rem;
            color: #4d4d4d;
         }
        .mifahost__auca img{
            width: 60%;
            border-radius: 20px;
            box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        }
    </style>

<section class="mifahost__auca"> 
    <div>
        <h1>MIFAhost</h1>
        <h6>Be Host For MIFA.</h6>
        <button class="show-more-btn__auca">Learn More</button>
    </div>

    <img src="{% static './images/random.jpg'%}" alt="" /> 
</section>
{% endblock content %}  
