{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .trends__auca {
            padding: 10px;
            background-color: #fff;
            overflow-x: auto;
            width: 100%;
             white-space: nowrap;
            
            
        }

        .trends__auca::-webkit-scrollbar {
            height: 8px;
        }

        .trends__auca::-webkit-scrollbar-thumb {
            background-color: #ffc7c7;
            border-radius: 4px;
        }

        .trends__auca::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }

        .trends-div__auca {
              display: inline-block;
            border-radius: 20px;
            overflow: hidden;
            background-color: rgba(202, 202, 202, 0.3);
            padding: 5px;
            width: 500px;
        }

        .trends-div__auca img {
            width: 500px;
        }
    </style>
    <div >
    <section class="trends__auca">
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Ali</p>
            <p>Dark in Desert</p>
            <p>10,000 $</p>
        </div>
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Ali</p>
            <p>Dark in Desert</p>
            <p>10,000 $</p>
        </div>
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Ali</p>
            <p>Dark in Desert</p>
            <p>10,000 $</p>
        </div>
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Ali</p>
            <p>Dark in Desert</p>
            <p>10,000 $</p>
        </div>
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Ali</p>
            <p>Dark in Desert</p>
            <p>10,000 $</p>
        </div>
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Ali</p>
            <p>Dark in Desert</p>
            <p>10,000 $</p>
        </div>
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Ali</p>
            <p>Dark in Desert</p>
            <p>10,000 $</p>
        </div>
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Ali</p>
            <p>Dark in Desert</p>
            <p>10,000 $</p>
        </div>
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Ali</p>
            <p>Dark in Desert</p>
            <p>10,000 $</p>
        </div>
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Ali</p>
            <p>Dark in Desert</p>
            <p>10,000 $</p>
        </div>
        <!-- Rest of the content -->
    </section>
    </div>
{% endblock content %}
