{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .trends__auca {
            padding: 10px;
            background-color: #fff;
            border-radius: 20px;
            overflow-x: auto;
            width: 95%;
             white-space: nowrap;
           
            align-items: center;
            margin-left: 3%;
            
        }

        .trends__auca::-webkit-scrollbar {
            height: 3px;
            width: 50px;
            scrollbar-height: 50px; 
            display: flex;

        }

        .trends__auca::-webkit-scrollbar-thumb {
            background-color: rgba(54, 54, 54, 0.5);
            border-radius: 5px;
            display: flex;
            
        }

        .trends__auca::-webkit-scrollbar-thumb:hover {
            background-color: #555;
            
        }

        .trends-div__auca {
              display: inline-block;
            border-radius: 20px;
            overflow: hidden;
            background-color: rgba(202, 202, 202, 0.3);
            
            width: 20%;
            border: rgba(54, 54, 54, 0.3) solid 1px;
            cursor: pointer;
            
        }

        .trends-div__auca img {
            width: 100%;
            
        }


        /* loader */
        .newtons-cradle {
 --uib-size: 50px;
 --uib-speed: 1.2s;
 --uib-color: #474554;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 width: var(--uib-size);
 height: var(--uib-size);
}

.newtons-cradle__dot {
 position: relative;
 display: flex;
 align-items: center;
 height: 100%;
 width: 25%;
 transform-origin: center top;
}

.newtons-cradle__dot::after {
 content: '';
 display: block;
 width: 100%;
 height: 25%;
 border-radius: 50%;
 background-color: var(--uib-color);
}

.newtons-cradle__dot:first-child {
 animation: swing var(--uib-speed) linear infinite;
}

.newtons-cradle__dot:last-child {
 animation: swing2 var(--uib-speed) linear infinite;
}

@keyframes swing {
 0% {
  transform: rotate(0deg);
  animation-timing-function: ease-out;
 }

 25% {
  transform: rotate(70deg);
  animation-timing-function: ease-in;
 }

 50% {
  transform: rotate(0deg);
  animation-timing-function: linear;
 }
}

@keyframes swing2 {
 0% {
  transform: rotate(0deg);
  animation-timing-function: linear;
 }

 50% {
  transform: rotate(0deg);
  animation-timing-function: ease-out;
 }

 75% {
  transform: rotate(-70deg);
  animation-timing-function: ease-in;
 }
}


.loadinf-sep-div{
    background: none;
    border: none;
    top: 50%;
    margin: auto;
    position: relative;
  top: 40%;
  left: 5%;
  transform: translate(-15%, -25%);
}


.trends-div__auca p, .trends-div__auca span{
    margin-left: 10px;
}

.trends-div__auca p span{
    color: #474554;
}

.add-wishlist__trends{
    position: relative;
    margin-top: 10px;
    background-color: #e52e26;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    display: none;
}

/*
.trends-div__auca:hover .add-wishlist__trends{
    display: flex;
    transition: display 3s ease;
}
*/



@media only screen and (max-width: 975px) {
    .trends__auca{
        width: 99%;
    }
        
  .trends-div__auca{
    width: 60%;
  }
}

    </style>
    <div >
    <section class="trends__auca">
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
            <a class="add-wishlist__trends">Add To Whishlist<span class="material-symbols-outlined ">add_circle</span></a>
        </div>
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
        </div>
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex04.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
        </div>
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
        </div>
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex04.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
        </div>
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex04.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
        </div>
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
        </div>
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
        </div>
        <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
        </div>
        <!-- Rest of the content -->

        <div class="trends-div__auca loadinf-sep-div">
            <div class="newtons-cradle">
<div class="newtons-cradle__dot"></div>
<div class="newtons-cradle__dot"></div>
<div class="newtons-cradle__dot"></div>
<div class="newtons-cradle__dot"></div>
</div>
        </div>
    </section>
    </div>
{% endblock content %}
