
{% extends 'base.html' %}
{% load static %}

{% block footer %}
<footer>

    <div class="footer-logos">
    <h1>MIFAfest</h1>
    <section class="social-logos">

        <img src="{% static './images/social-icons/winstgram.png' %}" alt="" />
        <img src="{% static './images/social-icons/wfacebook.png' %}" alt="" />
        <img src="{% static './images/social-icons/wtwitter.png' %}" alt="" />
        <img src="{% static './images/social-icons/wyoutube.png' %}" alt="" />
        <img src="{% static './images/social-icons/wpinterest.png' %}" alt="" />
        <img src="{% static './images/social-icons/patreon.png' %}" alt="" />
        
    </section>

    <span>MIFAfest@mifa.org</span>
    
    </div>

        <div class="left-links">
            <h4>Links</h4>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
        </div>

        <div class="center-links">
            <h4>Links</h4>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            
        </div>

        <div class="right-links">
            <h4>Links</h4>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
        </div>

        <div class="right-links">
            <h4>Links</h4>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
        </div>


</footer>
<div style=" background-color: black; 
">
<div style="
 background-color: black; 
 color: white;
 margin: 0 40px 0 40px;
 height: 10vh;
 ">
    <span>@ MIFAfest - 2023</span>
    
    
</div>
</div>


{% endblock %}