
{% extends 'base.html' %}
{% load static %}

{% block footer %}
<footer>

    <div class="footer-logos">
    <h1>MIFAfest</h1>
    <section class="social-logos">

        <img src="{% static './images/social-icons/winstgram.png' %}" alt="" />
        <img src="{% static './images/social-icons/wfacebook.png' %}" alt="" />
        <img src="{% static './images/social-icons/wtwitter.png' %}" alt="" />
        <img src="{% static './images/social-icons/wyoutube.png' %}" alt="" />
        
    </section>

    <span>MIFAfest@mifa.org</span>
    
    </div>

        <div class="left-links">
            <h4>Home</h4>
            <h5>MIFAhost</h5>
            <h5>MIFA story</h5>
            <h5>join</h5>
            <h5>judges</h5>
            
        </div>

        <div class="center-links">
            <h4>collocation</h4>
            <h5>calssic</h5>
            <h5>modern</h5>
            <h5>post-modern</h5>
            <h5>minimalism</h5>
            <h5>coounceptual art</h5>
            
        </div>

        <div class="right-links">
            <h4>Gallary</h4>
            <h5>oil painting</h5>
            <h5>drawing</h5>
            <h5>statue</h5>
            <h5>pancil painting</h5>
            <h5>wood working</h5>
            <h5>metal working</h5>
            <h5>pottery</h5>
        </div>

        <div class="right-links">
            <h4>MIFa family</h4>
            <h5>Register</h5>
            <h5>Log in</h5>
            <h5>submit a design</h5>
            <h5>profile</h5>
        </div>


</footer>
<div style=" background-color: black; 
">
<div style="
 background-color: black; 
 color: white;
 margin: 0 40px 0 40px;
 height: 10vh;
 ">
    <span>@ MIFAfest - 2023</span>
    
    
</div>
</div>


{% endblock %}