
{% extends 'base.html' %}
{% load static %}

{% block footer %}
<footer>

    <div class="footer-logos">
    <h1>MIFAfest</h1>
    <section class="social-logos">

        <img src="{% static './images/social-icons/instagram.png' %}" alt="" />
        <img src="{% static './images/social-icons/facebook.png' %}" alt="" />
        <img src="{% static './images/social-icons/pinterest.png' %}" alt="" />
        <img src="{% static './images/social-icons/twitter.png' %}" alt="" />
        <img src="{% static './images/social-icons/youtube.png' %}" alt="" />
        <img src="{% static './images/social-icons/patreon.png' %}" alt="" />
    </section>
    </div>

        <div class="left-links">
            <h4>Links</h4>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
        </div>

        <div class="center-links">
            <h4>Links</h4>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            
        </div>

        <div class="right-links">
            <h4>Links</h4>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
        </div>

        <div class="right-links">
            <h4>Links</h4>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
            <h5>link</h5>
        </div>


</footer>
<div style=" background-color: black; 
">
<div style="display: flex; 
justify-content: 
space-between;
 background-color: black; 
 color: white;
 margin: 0 40px 0 40px;
 height: 10vh;
 ">
    <span>@ MIFAfest - 2023</span>
    <span>MIFAfest@mifa.org</span>
    <span>+1 989 9999</span>
    
</div>
</div>


{% endblock %}