{% extends 'base.html' %}
{% load static %}

{% block title %}
    MIFAfest - artists
{% endblock title %}

{% block content %}
    <style type="text/css">
        .first-intro__artist{
            display: flex;
            width: 100%;
            text-align: center;
            align-items: center;
            
            }
        .first-intro__artist h1{
            margin-left: 3%;
            width: 30%;
            overflow: visible;
            font-size: xxx-large;
            color: rgb(70, 70, 70);
        }
    
        .img-container__artist{
            margin-top: 15vh;
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr 1fr; 
            gap: 0px 0px; 
            grid-template-areas: 
                "a b c"
                "d b e"
        }
        .a { grid-area: a; }
        .b { grid-area: b; }
        .c { grid-area: c; }    
        .d { grid-area: d; }
        .e { grid-area: e; }
     

        .img-container__artist div img{ 
           
            overflow: hidden;
            padding: 5px;
            border-radius: 20px;
            box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); 
            object-fit:cover;
            cursor: pointer;
        }




        .sep-div__artist{
            width: 100%;
            overflow: hidden;
            height: 100vh;
            display: flex;
            border-radius: 20px;
            box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); 
            margin: 3rem 0 3rem 0;
            
        }

        .artist___page div h1{
            padding: 5px;
        }
     
    </style>

{% include "../Header/Header.html" %}


<section class="first-intro__artist">

<h1>Meet the Girls Behind the ArtWork!</h1>

<div class="img-container__artist">

  <div class="a">
  <img src="{% static './images/artist01.jpeg'%}" alt="" />
  </div>
  <div class="b">
  <img src="{% static './images/artist02.webp'%}" alt="" />
  </div>
  <div class="c">
  <img src="{% static './images/artist03.jpeg'%}" alt="" />
  </div>
  <div class="d">
  <img src="{% static './images/artist04.jpeg'%}" alt="" />
  </div>
  <div class="e">
  <img src="{% static './images/artist05.jpeg'%}" alt="" />
  </div>
  
</section>

{% include "./ArtistExaple.html" %}

{% include "./ArtistColo.html" %}




<section class="sep-div__artist">
    
<section class="mifa-host artist___page">
  <div>
  <h5 style="color: rgb(71, 71, 71);">Discover</h5>
  <hr style="color: rgb(71, 71, 71);"/>
  <h1 style="color: rgb(71, 71, 71);">Meet Your Artist!</h1>
  <h4 style="color: rgb(71, 71, 71);">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h4>
  <a href="" style="color: rgb(71, 71, 71);"><span class=""> Learn More </span></a>
  </div>
</section>
<img src="{% static './images/img-Artist-Page.jpg'%}" alt="" />
    
</section>




{% include "./ArtistStyle.html" %}

{% include "../Footer/Footer.html" %}
  
{% endblock content %}  
