{% extends 'base.html' %}
{% load static %}

{% block title %}
    - collocation
{% endblock %}

{% block header %}
    {% include '../Header/Header.html' %}
{% endblock %}

{% block content %}
{% load static %}
<html>
  <head>

  </head>
  <body>

    <main>
        
      <section class="main-first colo-section" stytle="display:grid; place-items: center;">
          <div class="colo-div">
       ‍‍‍       <div class="h1-bg colo-img" style="width:200%;">
                  <h1>NAME</h1>
              </div>

              <div class="h1-bg colo-img">
                <h1>NAME</h1>
            </div>
            <div style="width:1%;"></div>
        </div>           
      </section>

      



  </main>









  </body>

  <script>

  </script>
</html>


{% endblock %}

{% block footer %}
    {% include '../Footer/Footer.html' %}
{% endblock %}
