{% extends 'base.html' %}
{% load static %}

{% block title %}
   
{% endblock title %}

{% block content %}
    <style type="text/css">
        .sort-div__colo select {

  
  border: 0;
  border-bottom: 2px solid currentcolor; 
  font-weight: bold;
  letter-spacing: .15em;
  border-radius: 0;
  font-family: inherit;
  font-size: medium;
  background-color: rgba(240, 248, 255, 0);
  &:focus, &:active {
    outline: 0;
   
  }
}

.btn-artwoeks__colo{
    display: flex;
    justify-content: space-around;
}

.hr-colo__colo hr{
    width: 80%;
}
    </style>

<section class="btn-artwoeks__colo">
<h1>231 Artworks</h1>
<div></div>
</section>

<section class="hr-colo__colo">
<hr />
</section>

{% endblock content %}  
