{% extends 'base.html' %}
{% load static %}


{% block content %}
    <style type="text/css">
       aside{
        width: 30%;
        padding: 10px;
       } 
/* Hide the default checkbox */
.blue-checkbox input[type="checkbox"] {
    display: none;
}

/* Style the custom checkbox container */
.blue-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
}

/* Create the square checkmark */
.blue-checkbox:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid blue;
}

/* Show the square checkmark when the checkbox is checked */
.blue-checkbox input[type="checkbox"]:checked + .blue-checkbox:before {
    background-color: blue;
}


    </style>

<aside>
    <span>Filter by: </span>

    <hr />

    <h3>ArtWorks</h3>
    <div>
    <div>
        <label class="blue-checkbox">
            <input type="checkbox" value="" />
        </label>
    </div>
    <div>
        <input type="checkbox" value="" />
        <span>Sculpture</span>
    </div>
    <div>
        <input type="checkbox" value="" />
        <span>Photography</span>
    </div>
    <div>
        <input type="checkbox" value="" />
        <span>Digital Art</span>
    </div>
    <div>
        <input type="checkbox" value="" />
        <span>Drawing</span>
    </div>
    <div>
        <input type="checkbox" value="" />
        <span>Calligraphy</span>
    </div>
    <div>
        <input type="checkbox" value="" />
        <span>Mixed Media</span>
    </div>

    <div>
        <input type="checkbox" value="" />
        <span>Printmaking</span>
    </div>
    <div>
        <input type="checkbox" value="" />
        <span>Textile Art</span>
    </div>
    <div>
        <input type="checkbox" value="" />
        <span>Installation Art</span>
    </div>
    <div>
        <input type="checkbox" value="" />
        <span>Jewelry and luxury Art</span>
    </div>
    <div>
        <input type="checkbox" value="" />
        <span>Performance Art</span>
    </div>
    <div>
        <input type="checkbox" value="" />
        <span>Literary Art</span>
    </div>
    </div>


 

    <hr />


    <h3>Price</h3>
    <select>
        <option>under $1000</option>
        <option>under $1000</option>
        <option>under $1000</option>
        <option>under $1000</option>
        <option>under $1000</option>
        <option>under $1000</option>
    </select>

</aside>

{% endblock content %}  

