{% extends 'base.html' %}
{% load static %}

{% block title %}
   
{% endblock title %}

{% block content %}
    <style type="text/css">
        .sort-div__colo select {
  margin-top: 2vh;
  padding: .25em;
  border: 0;
  border-bottom: 2px solid currentcolor; 
  font-weight: bold;
  letter-spacing: .15em;
  border-radius: 0;
  font-family: inherit;
  font-size: large;
  background-color: rgba(240, 248, 255, 0);
  &:focus, &:active {
    outline: 0;
   
  }
}

.btn-artwoeks__colo{
    display: flex;
    justify-content: space-around;
}
    </style>

<section class="btn-artwoeks__colo">
<h1>231 Artworks</h1>
<div class="sort-div__colo">
    <select>
  <option value="" selected="selected" disabled="disabled">-- Sort by Recommended</option>
  <option value="1">Price</option>
  <option value="2">Time</option>
  <option value="3">Favorite</option>
  <option value="4">Digital Art</option>
  <option value="5">Drawing</option>
  <option value="5">Calligraphy</option>
  <option value="5">Mixed Media</option>
  
</select>
</div>
</section>

<section class="card-colo__colo">

</section>
{% endblock content %}  
