{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
    .card-container____colo{
        display: flex;
        flex-wrap: wrap;
        padding:30px;
        width: 90%;
    }
        
 .trends-div__auca {
              display: inline-block;
            border-radius: 20px;
            overflow: hidden;
            background-color: rgba(202, 202, 202, 0.3);
            
            width: 26%;
            border: rgba(54, 54, 54, 0.3) solid 1px;
            cursor: pointer;
            margin: 5px 25px 5px 25px;
            
        }

        .trends-div__auca img {
            width: 100%;
            
        }
        .trends-div__auca p, .trends-div__auca span{
        margin-left: 10px;
}

.trends-div__auca p span{
    color: #474554;
}

.aside-and___colo{
        display: flex;
}


.show-more-btn__auca {
  
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 1px #000 solid;
  border-radius: 20px;
  color: #000;
  padding: 0.5em 0.6em;
  background: #fff;
  display: flex;
  
  align-items: center;
  gap: 0.1em;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
}
.div-show-more-btn__auca{
        display: flex;
        justify-content: center;
}

    </style>
<div class="aside-and___colo">
{% include "./PageColoAside.html" %}

<section class="card-container____colo">
    <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
    </div>
    <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
    </div>
    <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
    </div>
    <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
    </div>
    <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
    </div>
    <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
    </div>
    <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
    </div>
    <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
    </div>
    <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
    </div>

<div class="div-show-more-btn__auca">
        <button class="show-more-btn__auca">
            Show More<span class="material-symbols-outlined">arrow_drop_down</span>
        </button>
        </div>
</div>
</section>

{% endblock content %}  
