{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
    .card-container____colo{
        display: flex;
        flex-wrap: wrap;
        padding:30px;
        width: 90%;
    }
        
 .trends-div__auca {
              display: inline-block;
            border-radius: 20px;
            overflow: hidden;
            background-color: rgba(202, 202, 202, 0.3);
            
            width: 26%;
            border: rgba(54, 54, 54, 0.3) solid 1px;
            cursor: pointer;
            margin: 5px 25px 5px 25px;
            
        }

        .trends-div__auca img {
            width: 100%;
            
        }
        .trends-div__auca p, .trends-div__auca span{
        margin-left: 10px;
}

.trends-div__auca p span{
    color: #474554;
}

.aside-and___colo{
        display: flex;
}
    </style>
<div class="aside-and___colo">
{% include "./PageColoAside.html" %}

<section class="card-container____colo">
    <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
    </div>
    <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
    </div>
    <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
    </div>
    <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
    </div>
    <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
    </div>
    <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
    </div>
    <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
    </div>
    <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
    </div>
    <div class="trends-div__auca">
            <img src="{% static './images/colo-ex02.webp'%}" alt="" />
            <p>Mahla Mosa</p>
            <p>Mirror in Desert</p>
            <p>10,000 $ <span> 10 / 10 copy</span></p>
    </div>
</section>
</div>
{% endblock content %}  
