{% extends 'base.html' %}
{% load static %}

{% block title %}
   ArtSpeak
{% endblock title %}

{% block content %}
    <style type="text/css">
        .first-main__artsp{
            padding-top: 5rem;
            display: flex;
            align-items: center;

        }
        #arspImgSlide{
            width: 100%;
        }
        .first-main__artsp div div{
            position: absolute;
            top: 15%;
            left: 5%;
        }

        .first-main__artsp span{
            background-color: #ffffff79;
            margin: auto;
            padding: auto;
            padding: 3px;
            font-size: xxx-large;
            border-radius: 50%;
            cursor: pointer;
        }
        .first-main__artsp span:hover{
            opacity: .8;
        }
        .first-main__artsp span:nth-child(1){
            position: absolute;
            left: 20px;
            padding-left: 8px;
        }
        .first-main__artsp span:nth-child(3){
            position: absolute;
            right: 20px;
        }
        

        .control-btn__home{
        
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }
    .control-btn__home hr{
        width: 90%;
        z-index: -1;
    }

    .div-in-btn__home{
            display: flex;
            margin: 1rem 10% 0 5%;
            justify-content: space-between;
            text-align: left;
            color: rgb(87, 87, 87);
            font-size: 20px;
            font-family: inherit;
            font-weight: bold;
        }

        .div-in-btn__home span{
            cursor: pointer;
            color: #444;
        }

    .div-in-btn__homeActive, #speaHightli{
        color: #000; 
        text-decoration: underline;
        text-underline-offset: 12px;
    }
    .div-in-btn__homeUnActive{
        color: rgb(87, 87, 87);
        text-decoration: none;
    }
    </style>
{% include "../Header/Header.html" %}

<section class="first-main__artsp">
    <div class="back-ar__arsp"><span class="material-symbols-outlined">arrow_back_ios</span></div>

    <div>
    <img src="{% static './images/ArtSpeak.jpg'%}" alt="" id="arspImgSlide" />
    <div>
        <h3>Lorem Lorem</h1>
        <h1>lorem lorem lorem s</span>
    </div>
    </div>

    <span class="material-symbols-outlined">arrow_forward_ios</span>
</section>


<section class="control-btn__sp">
    <div class="div-in-btn__home">
    <span class="mifa-btn__home" id="speaHightli">Highlight</span>
    
    </div>
    <hr />
</section>

{% include './ArtSpeakDetail.html'%}

{% include './AsSubmit.html' %}

{% include '../Footer/Footer.html'%}
{% endblock content %}  
