{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .post-detail__arsp{
            display: flex;
            justify-content: space-between;
            padding: 30px;
            width: 100%;
        }
        .img-cont__dspaek {
            width: 40%;
        }
        .img-cont__dspaek img{
            width: 100%;
        }

        .txt-conatne___dspeak{
            width: 50%;
        }
        .txt-conatne___dspeak{
            color: #444;
        }
        .txt-conatne___dspeak h3{
            color: #666;
            text-decoration: underline;
            text-underline-offset: 9px;
        }
        .img-cont__dspaek h1{
            color: #333;
        }
        .txt-conatne___dspeak a{
            color: #111;
        }
    </style>

<section class="post-detail__arsp">
    <div class="img-cont__dspaek">
        <h1>Name of Speak</h1>
        <img src="{% static './images/maxresdefault.jpg' %}" alt="" />
    </div>
    <div class="txt-conatne___dspeak">
        <h3>Discover</h3>
        <span>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </span>
        <a href=""><span>Check for Detail</span></a>
    </div>
</section>
{% endblock content %}  
