{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .post-detail__arsp{
            display: flex;
            justify-content: space-between;
            padding: 30px;
            width: 100%;
            
        }
        .img-cont__dspaek {
            width: 40%;
        }
        .img-cont__dspaek img{
            width: 100%;
        }

        .txt-conatne___dspeak{
            width: 50%;
        }
        .txt-conatne___dspeak{
            color: #444;
        }
        .txt-conatne___dspeak h3{
            color: #666;
            text-decoration: underline;
            text-underline-offset: 9px;
        }
        .img-cont__dspaek h1{
            color: #333;
        }
        .txt-conatne___dspeak a{
            color: #111;
            cursor: pointer;
        }

        #backASBtn{
            position: fixed;
            left: 3%;
            bottom: 3%;
            background-color: #fff;
            border-radius: 5px;
            padding: 5px;
            cursor: pointer;
            color: #111;
            display: none;
            opacity: .8;
        }
        #backASBtn:hover{
            opacity: 1;
        }

        .more-detail__aspea{
            display: none;
        }

        .more-detail__aspea summary{
            margin-top: 10px;
            color: #111;
            cursor: pointer;
            font-size: larger;
        }
        .more-detail__aspea span{
            width: 70%;
        }
    </style>

<section class="post-detail__arsp">
    <div class="img-cont__dspaek">
        <h1>Name of Speak</h1>
        <img src="{% static './images/maxresdefault.jpg' %}" alt="" />
    </div>
    <div class="txt-conatne___dspeak">
        <h3>Discover</h3>
        <span>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </span>
        <a id="checkDetailAS"><span>Check for Detail</span></a>

        <div class="more-detail__aspea">
            <details>
                <summary>Lorem Ipsum  dummy text</summary>
                <span>the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum                </span>
            </details>
            <details>
                <summary>Lor is simply dummy text</summary>
                <span>the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum                </span>
            </details>
            <details>
                <summary>Lorem Ipsum is simply xt</summary>
                <span>the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum                </span>
            </details>
            
            <section class="submi-section__arsp">
                <button class="submit__arsp">Submit a Artwork!</button>
            </section> 
        </div>
    </div>
</section>

<a id="backASBtn"><span>Back To ArtSpeak</span></a>
{% endblock content %}  
