{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">

        .submi-section__arsp{
            padding: 30px;
        }
        .submit__arsp {
 background-color: #eee;
 border: none;
 padding: 1rem;
 font-size: 1rem;
 width: fit-content;
 border-radius: 1rem;
 color: rgb(0, 0, 0);
 box-shadow: 0 0.4rem #dfd9d9;
 cursor: pointer;
 font-family: inherit;
}


.submit__arsp:hover {
 background: rgb(255, 255, 255);
 color: rgb(0, 0, 0);
}

    </style>
<!--

-->
{% endblock content %}  

