.removal-section{
    box-shadow: none;
}


.colo-frame{
    display: flex;
    justify-content: center;
   
}

.colo-frame h1, h3{
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}


