{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <noscript>You Have to enable javascript to use this site!</noscript>

    <script src="https://kit.fontawesome.com/628c8d2499.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static './style/Header.css' %}">
    <link rel="stylesheet" href="{% static './style/style-custom.min.css' %}">
    <link rel="stylesheet" href="{% static './style/Home.css' %}">
    <link rel="stylesheet" href="{% static './style/Collocation.css' %}">





    
    <title>{% block title %} {% endblock title %} </title>


    <style>
        body{
            background: rgb(246, 243, 243);
        }
    </style>
</head>

<body>
    
        {% block header %}{% endblock %}
    
    
        {% block content %}{% endblock %}
    
    
        {% block footer %}{% endblock %}
   

</body>

</html>