@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    background: rgb(246 243 243);
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

.header-frame{
    width: 100%;
    display: flex;
    border: none;
    margin: 0  ;
    padding: 0;
    z-index: 1;
}
.home-frame{
    width: 100%;
    display: flex;
    border: none;
    margin: 0;
    padding: 0;
    height:500vh;
       
}
