{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <noscript>You Have to enable javascript to use this site!</noscript>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <!-- modals-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    


    <link rel="stylesheet" href="{% static './style/Collocation.css' %}">
    <link rel="stylesheet" href="{% static './style/Header.css' %}">
    <link rel="stylesheet" href="{% static './style/style-custom.min.css' %}">
    <link rel="stylesheet" href="{% static './style/Home.css' %}">
    




    <link rel="apple-touch-icon" sizes="180x180" href="{% static './Favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static './Favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static './Favicon/favicon-16x16.png' %}">



    <!-- gsap -->

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"
      integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"
    integrity="sha512-A64Nik4Ql7/W/PJk2RNOmVyC/Chobn5TY08CiKEX50Sdw+33WTOpPJ/63bfWPl0hxiRv1trPs5prKO8CpA7VNQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- cdn for slide in home -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>







    <title>{% block title %} {% endblock title %} </title>

{% block head %}

{% endblock head %}
    <style>
      *{
        box-sizing: border-box;
      }
        body{
          font-family: 'Rubik', sans-serif;
          margin: 0;
          padding: 0;
            background: rgb(246, 243, 243);
        }

        header{
          z-index: 200;
        }

        a{
          text-decoration: none;
          
        }

       

   
    </style>

    <script>


// home




// auth page
        $(document).ready(function() {
            // Add a click event handler to the h4 element
            $("#h4-signin").click(function() {
              // Remove the element with the ids"
              $("em").css("display", "flex");
              $("#userName").remove();
              $("#auth-h1-text").text("MIFAfest - Sign In");
              $("#google-text-signin").text("Sign In With Google");
              $("#signin-btn").val("SIGN IN");
              
              $("#h4-signin").remove()

            });



            $("em").click(function() {
              // Reload the page
              location.reload(true);
            });
          });


// profile


          $(document).ready(function(){
            $("#artistAlbum img:gt(3)").hide();
          
            $("#seeMore").click(function(){
              // Show the rest of the images when the paragraph is clicked
              $("#artistAlbum img").show();
              $("#seeMore").hide();
              $("#showLess").css("display", "grid");
            });
          
            $("#showLess").click(function(){
              // Hide the images with an index greater than 3
              $("#artistAlbum img:gt(3)").hide();
              $("#showLess").hide();
              $("#seeMore").show();
            });
          });


          $(document).ready(function(){
            $("#artistAlbum2 img:gt(3)").hide();
          
            $("#seeMore2").click(function(){
              // Show the rest of the images when the paragraph is clicked
              $("#artistAlbum2 img").show();
              $("#seeMore2").hide();
              $("#showLess2").css("display", "grid");
            });
          
            $("#showLess2").click(function(){
              // Hide the images with an index greater than 3
              $("#artistAlbum2 img:gt(3)").hide();
              $("#showLess2").hide();
              $("#seeMore2").show();
            });
          });
          


// collocation
$(document).ready(function() {
    $('#smallImages img').click(function() {
        var imgSrc = $(this).attr('src');
        $('#bigImage').attr('src', imgSrc);

    });
});




//home 
//artist
$(document).ready(function() {
    $('#nextArtistDe').click(function() {
        
        $('#oneImgInArtistPage').attr('src', '{% static './images/colo-ex03.webp'%}');
        $('#twoImgInArtistPage').attr('src', '{% static './images/colo-ex04.webp'%}');

    });

    $('#beforeArtistDe').click(function() {
        
        $('#oneImgInArtistPage').attr('src', '{% static './images/colo-ex02.webp'%}');
        $('#twoImgInArtistPage').attr('src', '{% static './images/colo-ex02.webp'%}');

    });
});



// home - MIFAaction 
$(document).ready(function() {
  var image = $('#mifaActionHome');
  var imageSources = [
    '{% static './images/MIFAactionHome02.jpg'%}',
    '{% static './images/MIFAactionHome03.jpg'%}',
    '{% static './images/MIFAactionHome04.jpg'%}',
    '{% static './images/MIFAactionHome01.jpg'%}'
  ];

  var currentIndex = 0;

  function changeImage() {
    image.fadeOut(1000, function() {
      image.attr('src', imageSources[currentIndex]);
      currentIndex = (currentIndex + 1) % imageSources.length;
      image.fadeIn(1000);
    });
  }

  setInterval(changeImage, 5000);
});

// target day
var targetDate = moment('2023-12-31');


function updateTimer() {
  var currentDate = moment();
  var duration = moment.duration(targetDate.diff(currentDate));
  
  var days = Math.floor(duration.asDays());
  var hours = duration.hours();
  var minuts = duration.minutes();
  var second = duration.seconds();

  
  var timerDisplay = document.getElementById('timer');
  timerDisplay.textContent = days + ' d: ' + hours + ' h:' + minuts + ' :m ' + second + ' s ';
}

updateTimer();

// Update the timer every second
setInterval(updateTimer, 1000);





//aucation
$(document).ready(function() {
  $('#spanUpAuc').click(function() {
      $("#spanUpAuc").css("color", "rgba(0, 0, 0, 0.9)");
  });
});



    </script>
</head>

<body>
    
        {% block header %}{% endblock %}
    
    
        {% block content %}{% endblock %}
    
    
        {% block footer %}{% endblock footer%}
   

</body>



</html>