{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <noscript>You Have to enable javascript to use this site!</noscript>

    <script src="https://kit.fontawesome.com/628c8d2499.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="{% static './style/Auth.css' %}">
    <link rel="stylesheet" href="{% static './style/Collocation.css' %}">
    <link rel="stylesheet" href="{% static './style/Header.css' %}">
    <link rel="stylesheet" href="{% static './style/style-custom.min.css' %}">
    <link rel="stylesheet" href="{% static './style/Home.css' %}">
    


    <link rel="apple-touch-icon" sizes="180x180" href="{% static './Favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static './Favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static './Favicon/favicon-16x16.png' %}">



    
    <title>{% block title %} {% endblock title %} </title>

{% block head %}{% endblock head %}
    <style>
        body{
            background: rgb(246, 243, 243);
        }


    </style>

    <script>
        $(document).ready(function() {
            // Add a click event handler to the h4 element
            $("#h4-signin").click(function() {
              // Remove the element with the ids"
              $("em").css("display", "flex");
              $("#userName").remove();
              $("#auth-h1-text").text("MIFAfest - Sign In");
              $("#google-text-signin").text("Sign In With Google");
              $("#signin-btn").val("SIGN IN");
              
              $("#h4-signin").remove()

            });



            $("em").click(function() {
              // Reload the page
              location.reload(true);
            });
          });





          $(document).ready(function(){
            $("#artistAlbum img:gt(3)").hide();
          
            $("#seeMore").click(function(){
              // Show the rest of the images when the paragraph is clicked
              $("#artistAlbum img").show();
              $("#seeMore").hide();
              $("#showLess").css("display", "grid");
            });
          
            $("#showLess").click(function(){
              // Hide the images with an index greater than 3
              $("#artistAlbum img:gt(3)").hide();
              $("#showLess").hide();
              $("#seeMore").show();
            });
          });


          $(document).ready(function(){
            $("#artistAlbum2 img:gt(3)").hide();
          
            $("#seeMore2").click(function(){
              // Show the rest of the images when the paragraph is clicked
              $("#artistAlbum2 img").show();
              $("#seeMore2").hide();
              $("#showLess2").css("display", "grid");
            });
          
            $("#showLess2").click(function(){
              // Hide the images with an index greater than 3
              $("#artistAlbum2 img:gt(3)").hide();
              $("#showLess2").hide();
              $("#seeMore2").show();
            });
          });
          
          


    </script>
</head>

<body>
    
        {% block header %}{% endblock %}
    
    
        {% block content %}{% endblock %}
    
    
        {% block footer %}{% endblock %}
   

</body>

</html>